body, html {
     width: 100%;
     height: 100%;
     margin:0;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
}
 body#front-page {
     background-image: url('https://source.unsplash.com/random/?nature,water') !important;
     background-repeat: no-repeat;
     background-size: cover;
}
 .info{
     background:rgba(238, 238, 238, 0.4);
     ;
     display:block;
     margin:0 auto;
     border-radius: 15px;
}
 .info p{
     margin: 2%;
     font-weight: bold;
     color: #000000;
}
 html,body,h1,h2,h3,h4,h5,h6 {
     font-family: "Roboto", sans-serif 
}
/* Animated title */
 .text {
     position: relative;
     margin-top: 10vh;
     list-style: none;
     text-align: -webkit-center;
     border-bottom: 0;
}
 .text.hidden {
     border-bottom: 1px solid #fff;
}
 .text li {
     display: inline-block;
     text-align: -webkit-center;
     font-weight: 700;
     font-size: 2em;
     color: #fff;
     opacity: 1;
     transition: all 0.5s ease-in-out;
     max-width: 2em;
}
 .text.hidden li.spaced {
     padding-left: 0;
}
 .text li.spaced {
     padding-left: 0.5em;
}
 .text.hidden li.ghost {
     display: none;
}
 a {
     text-decoration: none;
}
 a:link.button, a:visited.button {
     background-color: #4CAF50;
     color: white;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     width: 40px;
}
 a:hover.button, a:active.button {
     opacity: 0.8;
}
/* Index */
 input[type=text], input[type=number], input[type=file] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
}
 button {
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
}
 button:hover {
     opacity: 0.8;
}
 h1, h2 {
     display: block;
     position: relative;
     margin-top: 10vh;
     text-align: -webkit-center;
}
/* Get handlers */
 .error-code {
     color:red;
     text-align:center;
}
 .sucess-code {
     color:lightgreen;
     text-align:center;
}
 .button {
     display: block;
     background: #06066d;
     text-align: center;
     display: flex;
     margin: 0 auto;
     justify-content: center;
     align-items: center;
}
/* Font page style */
 .buttons {
     display: block;
     width: 50%;
     left: 25%;
     position: relative;
}
 .container-left {
     display: block;
     background: #06066d;
     float: left;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .container-right {
     display: block;
     background: #4E598C;
     float: right;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .btn-ani {
     position: relative;
     color: white;
     width: 256px;
     height: 64px;
     line-height: 64px;
     transition: all 0.3s;
     span {
         transition: all 0.3s;
         tranform: scale(1, 1);
    }
}
 .btn-ani::before, .btn-ani::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     bottom: 0;
     left: 0;
     z-index: 1;
     transition: all 0.3s;
     border: 1px solid rgba(255, 255, 255, 0.5);
}
 .btn-ani:hover::after {
     animation-name: rotatecw;
     animation-duration: 2s;
}
 .btn-ani:hover::before {
     animation-name: rotateccw;
     animation-duration: 3s;
}
 .btn-ani:hover::after, .btn-ani:hover::before {
     left: 96px;
     width: 64px;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}
 @keyframes rotatecw {
     from {
         transform: rotate(0deg);
    }
     to {
         transform: rotate(360deg);
    }
}
 @keyframes rotateccw {
     from {
         transform: rotate(0deg);
    }
     to {
         transform: rotate(-360deg);
    }
}
/* Form */
 form {
     position: relative;
     margin: auto;
     padding: 0;
}
/* Absence system page */
 img{
     max-width:100%;
}
 .system {
     background: #f8f8f8 none repeat scroll 0 0;
     overflow: hidden;
     border-right:1px solid #c4c4c4;
}
 .next-classes {
     border: 1px solid #c4c4c4;
     clear: both;
     float: left;
     width: 40%;
     overflow: hidden;
}
 .class{
     overflow:hidden;
     clear:both;
}
 .class_list {
     border-bottom: 1px solid #c4c4c4;
     margin: 0;
     padding: 18px 16px 10px;
}
 .classes {
     height: 550px;
}
 .headind{
     padding:10px 29px 10px 20px;
     overflow:hidden;
     border-bottom:1px solid #c4c4c4;
}
 .active_class{
     background:#ebebeb;
}
 .time_date {
     color: #747474;
     display: block;
     font-size: 12px;
     margin: 8px 0 0;
}
 .cam {
     height: 516px;
}
